.avatar {
  /*Development CSS*/
  border: solid;
  border-width: 1px;
  padding: 10px;
  border-color: red;
  /*Production CSS*/
  margin-bottom: 10px;
}

.avatar img{
    width:100%;
    max-width: 300px;
}
.avatar-bio{
  /*Development CSS*/
  border: solid;
  border-width: 1px;
  padding: 10px;
  border-color: red;
  /*Production CSS*/
}
